python-dotenv
langchain
langchain-classic
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-chroma
langchain-tavily
chromadb
sentence-transformers
pypdf
docx2txt
pandas
openpyxl
xlrd
tavily-python